<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - IMS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}">
    <script src="https://kit.fontawesome.com/fdb8866bb6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="dashboardMainContainer">
        {% include 'partials/app-sidebar.html' %}
        </div>
        <div class="dashboard_content_container" id="dashboard_content_container">
            {% include 'partials/dashboard_topNav.html' %}
            <div class="dashboard_content">
                <div class="dashboard_content_main">
                    
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript"  src="templates/js/script.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
</body>
</html>