<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products - IMS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}">
    <script src="https://kit.fontawesome.com/fdb8866bb6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="dashboardMainContainer">
        {% include 'partials/app-sidebar.html' %}
        </div>
        <div class="dashboard_content_container" id="dashboard_content_container">
            {% include 'partials/dashboard_topNav.html' %}
            <div class="dashboard_content">
                <div class="dashboard_content_main">
                    <div class="row">
                        <div class="column column-12">
                            <h1 class="section_header"><i class="fa fa-plus"></i>Add Product</h1>
                            <div id="productAddFormContianer">
                                <form action="" method="POST" class="appForm">
                                    {{form.hidden_tag()}}
                                    {{form.name.label(class_="label")}}{{form.name(class_="appFormInput")}}
                                    {{form.price.label(class_="label")}}{{form.price(class_="appFormInput")}}
                                    {{form.category.label(class_="label")}}{{form.category(class_="appFormInput")}}
                                    {{form.description.label(class_="label")}}{{form.description(class_="appFormInput")}}
                                    {{form.submit(class_="appBtn")}}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>